Repository WFCD/profile-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm -q --no-progress dedupe

feat: update to newer items package (#25)
  .babelrc.json
  .c8rc.json
  .eslintrc
  .lintstagedrc.yaml
  .mocharc.json
  .prettierrc
  package-lock.json
  package.json
  src/ItemConfig.js
  src/LoadOutItem.js
  src/OperatorLoadOuts.js
  src/Utils.js
  src/XpInfo.js
Due: eslint --cache --fix, npm test, prettier --write, npm -q --no-progress dedupe

Notes added by 'git notes add'
  3c1456be977453c0edeb9d719d2ef1b90a5fd4b0
Due: none

fix: gen docs properly
  .github/docs/conf.json
  package.json
Due: prettier --write, npm -q --no-progress dedupe

chore: update tiems
  package-lock.json
  package.json
Due: prettier --write, npm -q --no-progress dedupe

chore: remove a console call
  test/unit/itemConfig.spec.ts
Due: none

chore: fixed item config test
  test/data/OrnsteinTheSlayer.json
  test/unit/itemConfig.spec.ts
Due: none

refactor: some minor renaming and comment removal
  src/LoadOutItem.ts
  src/Mission.ts
  src/Stats.ts
  src/Weapon.ts
  tsconfig.json
Due: none

chore: export everything
  package-lock.json
  package.json
Due: prettier --write, npm -q --no-progress dedupe

chore: pass the locale all the way down for related classes
  src/ArchonCrystal.ts
  src/ItemConfig.ts
  src/LoadOutInventory.ts
  src/LoadOutItem.ts
  src/OperatorLoadOuts.ts
  src/Profile.ts
  src/ProfileParser.ts
  src/Syndicate.ts
  src/Utils.ts
Due: none

chore: exports did not work the way I understood
  package.json
Due: prettier --write, npm -q --no-progress dedupe

Notes added by 'git notes add'
  d727291da8f06350b2f7acbdb02f00fdab8a4297
Due: none

fix: include dist, not src, in tarball
  package-lock.json
  package.json
Due: prettier --write, npm -q --no-progress dedupe

fix: include dist, not src, in tarball (#27)
  package-lock.json
  package.json
Due: prettier --write, npm -q --no-progress dedupe

Notes added by 'git notes add'
  831b991b69b5e7041f963f46506763fcde35e39d
Due: none

chore: add dependabot config
  .github/dependabot.yml
Due: none

chore: add dependabot config (#28)
  .github/dependabot.yml
Due: none

build: update from hydrogen to jod
  .nvmrc
Due: none

build: update from hydrogen to jod (#29)
  .nvmrc
Due: none

Notes added by 'git notes add'
  d7e93f655787ad10e067761ad8370387af7638d3
Due: none

Notes added by 'git notes add'
  c0e40d918cc8d129729667c68427880f53369ee7
Due: none

ci: update gh action prefix
  .github/dependabot.yml
Due: none

Notes added by 'git notes add'
  f830ef14cd5f030e1653f3fad48801f0c31b713a
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,md,yaml},!test/data/*.json)
  npm -q --no-progress dedupe: any of: package*.json
